* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

body {
    background: #006d8f;
}

.big-container {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 600px;
    padding: 50px;
    border-radius: 50px;
    background: #006d8f;
    box-shadow:  20px 20px 60px #005d7a,
                -20px -20px 60px #007da4;
    color: #fff;

}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1.lista-da-fare {
    font-size: 55px;
    margin-bottom: 10px;
}

h1.lista-finiti {
    font-size: 55px;
}

h2 {
    opacity: 0.75;
}

input.scrivi-task {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 23.4px;
    padding-left: 20px;
    width: 100%;
}

::placeholder {
    color: #fff;
    opacity: 0.3;
    font-weight: 600;
}

.lista-todo {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 23.4px;
    padding-left: 20px;
    width: 100%;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottoni {
    display: flex;
}

.fatto {
    height: 50px;
    border: none;
    color: #fff;
    padding: 0 15px;
    background: linear-gradient(145deg, #007599, #006281);
}

.edit {
    height: 50px;
    border: none;
    color: #fff;
    padding: 0 15px;
    background: linear-gradient(145deg, #007599, #006281);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.canc {
    height: 50px;
    border: none;
    color: #fff;
    padding: 0 15px;
    background: linear-gradient(145deg, #007599, #006281);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.indietro {
    height: 50px;
    border: none;
    color: #fff;
    padding: 0 15px;
    background: linear-gradient(145deg, #007599, #006281);
}


.fatto:hover, .edit:hover, .canc:hover, .indietro:hover {
    background: #006d8f;
    box-shadow: inset 7px 7px 13px #005d7a,
                inset -7px -7px 13px #007da4;
}

.finito {
    text-decoration: line-through;
    opacity: 0.5;
}

.nascondi {
    display: none;
}

.mostra {
    display: flex;
    align-items: center;
}

input.edit-task {
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.623);
    font-size: 23.4px;
    /* padding-left: 20px; */
    width: 100%;
}